  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .uploadcontainerbox {
    width: 50%;
    padding: 2px 10px;
    font-size: 10px;
    margin: auto;
    text-align: center;
    border: 1px dotted #3e0463;
    border-radius: 5px;
  }

  .imageInfo {
    width: 150px;;
  }
  
  .imageInfo img {
    width: 150px;
    height: 40vh;
    border-radius: 25px;
  }


  .dashboard {
    width: 90%;
    margin: 0 auto;
    margin-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    gap: 2rem;
  }

  .sidebox {
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 1rem;
    color: #b3b8cd;
  }

  .dashbox {
    /* background-color: #231e39; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    color: #b3b8cd;
    padding: 2rem;
  }

  .cardlist {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, minmax(25%, auto));
    width: var(--max-width);
    gap: 2rem;
    max-width: 100%;
  }

  .profilecard {
    background-color: #120741;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(110, 8, 154, 0.4);
    color: white;
    padding: 2rem;
    width: 300px;
    margin-bottom: 30px;    
    margin-right: 10px;    
    margin-left: 10px;    
    overflow: hidden;
  }
  .profileimage {
    border-radius: 5px;
  }

  .profileimage img {
    width: 100%;
  }

  .notice {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
  }

.form
{
    position: relative;
    background: #060c21;
    border: 1px solid #000;
    width: 50%;
    padding: 40px 40px 60px;
    border-radius: 10px;
    text-align: center;
}
.form::before
{
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(315deg,#3e0463,#0b4596);
    z-index: -1;
    transform: skew(2deg,1deg);
    border-radius: 10px;
}
.form h2
{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.form .input
{
    margin-top: 40px;
    text-align: left;
}
.form .input .inputBox
{
    margin-top: 10px;
}
.form .input .inputBox label
{
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}
.form .input .inputBox input
{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    background:linear-gradient(315deg,#3e0463,#0b4596) ;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}
.form .input .inputBox input[type="submit"]
{
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
}
.form .input .inputBox input[type="submit"]:hover
{
    background:linear-gradient(315deg,#3e0463,#0b4596) ;
}
.form .input .inputBox input[type="submit"]:active
{
    color: rgba(255, 255, 255, 0.521);
    background:linear-gradient(315deg,#3e0463,#0b4596) ;
}
.forgot
{
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
  
  .winlineblock {
    max-width: 100%;
    display: inline-block;
  }

   .wbutton {
    -webkit-appearance: button;
  }

  .container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1180px;
  }
  
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .row.itemscenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .row.justifycenter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  .row.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .column.alignleft {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .column.alignright {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .column.aligncenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #212529;
  }
  
  .emoji {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: #dbe4ff;
    font-size: 14px;
  }
  
  .emoji.lg {
    width: 64px;
    height: 64px;
    padding-top: 11px;
    font-size: 36px;
  }
  
  .mr-sm {
    margin-right: 4px;
  }
  
  .mb-sm {
    margin-bottom: 4px;
  }
  
  .mt-sm {
    margin-top: 4px;
  }
  
  .ml-sm {
    margin-left: 4px;
  }
  
  .mrmd {
    margin-right: 8px;
  }
  
  .mlmd {
    margin-left: 8px;
  }
  
  .mtmd {
    margin-top: 8px;
  }
  
  .mbmd {
    margin-bottom: 8px;
  }
  
  .mrlg {
    margin-right: 16px;
  }
  
  .mblg {
    margin-bottom: 16px;
  }
  
  .mtlg {
    margin-top: 16px;
  }
  
  .mllg {
    margin-left: 16px;
  }
  
  .mrxl {
    margin-right: 32px;
  }
  
  .mbxl {
    margin-bottom: 32px;
  }
  
  .mtxl {
    margin-top: 32px;
  }
  
  .mlxl {
    margin-left: 32px;
  }
  
  .ml2xl {
    margin-left: 64px;
  }
  
  .mb2xl {
    margin-bottom: 64px;
  }
  
  .mr2xl {
    margin-right: 64px;
  }
  
  .mt2xl {
    margin-top: 64px;
  }
  
  .ml3xl {
    margin-left: 128px;
  }
  
  .mb3xl {
    margin-bottom: 128px;
  }
  
  .mr3xl {
    margin-right: 128px;
  }
  
  .mt3xl {
    margin-top: 128px;
  }
  
  .psm {
    padding: 4px;
  }
  
  .pmd {
    padding: 8px;
  }
  
  .plg {
    padding: 16px;
  }
  
  .pxl {
    padding: 32px;
  }
  
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #edf2ff;
    color: #364fc7;
    font-weight: 600;
  }
  
  .button:hover {
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
  }
  
  .button.main {
    background-color: #0b4596;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .button.lg {
    padding: 16px 32px;
  }
  
  .button.sm {
    padding: 4px 8px;
  }
  
  .button.xl {
    padding: 32px 64px;
    border-radius: 16px;
    font-size: 20px;
  }
  
  .button.xl.main.white {
    background-color: #fff;
    color: #364fc7;
  }
  
  .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.6;
  }
  
  .icon.sm {
    width: 16px;
    height: 16px;
  }
  
  .mlmdn {
    margin-left: -8px;
  }
  
  .mlsmn {
    margin-left: -4px;
  }
  
  .mllgn {
    margin-left: -16px;
  }
  
  .mrsmn {
    margin-right: -4px;
  }
  
  .mrmdn {
    margin-right: -8px;
  }
  
  .mrlgn {
    margin-right: -16px;
  }
  
  .mtsmn {
    margin-top: 4px;
  }
  
  .mtmdn {
    margin-top: -8px;
  }
  
  .mtlgn {
    margin-top: -16px;
  }
  
  .mbsmn {
    margin-bottom: 4px;
  }
  
  .mbmdn {
    margin-bottom: -8px;
  }
  
  .mblgn {
    margin-bottom: 16px;
  }
  
  .u {
    border-bottom: 2px solid #bac8ff;
    line-height: 100%;
  }
  
  .u:hover {
    border-bottom-color: #748ffc;
  }

 
  
  .section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .section.overflowhidden {
    overflow: hidden;
  }
  
  .section.main {
    background-color: #071759;
    color: #fff;
  }
  
  
  .bgwhite {
    background-color: #fff;
  }
  
  .bggradient {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(180deg, #fff 25%, hsla(0, 0%, 100%, 0));
  }
  
  .textgiga {
    font-size: 64px;
  }
  
  .maxwmd {
    max-width: 620px;
  }
  
  .textcenter {
    text-align: center;
  }
  
  .maxwlg {
    max-width: 740px;
  }
  
  .textlg {
    font-size: 24px;
    line-height: 140%;
  }
  
  .links {
    position: fixed;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    z-index: 50;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
  }
  
  .links.right {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
  }
  
  .text-sm {
    font-size: 14px;
  }
  
  .muted {
    color: #868e96;
  }
  
  .nav {
    position: fixed;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 8px 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0e051c), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(180deg, #0e051c, hsla(0, 0%, 100%, 0));
  }
  
  .buffer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .slack {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .product-hunt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .airbnb {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .circle {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 300%;
    height: 300%;
    margin-left: -100%;
    border-radius: 100%;
    background-color: #2e0349;
  }
  
  .mt2xln {
    margin-top: -64px;
  }
  
  .product-shot {
    width: 100%;
    max-width: 720px;
    margin-top: -64px;
    border-radius: 8px;
    box-shadow: 0 32px 64px -16px rgba(0, 0, 0, 0.1);
  }
  
  .p2xl {
    padding: 64px;
  }
  
  .featurecard {
    width: 100%;
    height: 100%;
  }
  
  .textwhite {
    color: #fff;
  }
  
  .faded {
    opacity: 0.5;
  }
  
  .bordert {
    border-top: 1px solid #e9ecef;
  }
  
  .dropdowntoggle {
    padding: 0px;
  }
  
  .dropdownlist {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }
  
  .dropdownlist.wopen {
    bottom: 40px;
    overflow: hidden;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 16px -4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdownlink {
    color: #364fc7;
  }
  
  .dropdownlink:hover {
    background-color: #edf2ff;
  }
  
  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 100px;
  }
  
  .profilelink {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 8px 4px 4px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: #495057;
    font-size: 12px;
    font-weight: 400;
  }
  
  .profilelink:hover {
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
  }
  
  ._wfull {
    width: 100%;
  }
  
  ._w25 {
    width: 25%;
  }
  
  ._w20 {
    width: 20%;
  }
  
  ._w33 {
    width: 33.333333333333336%;
  }
  
  ._w50 {
    width: 50%;
  }
  
  .logocontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 80px;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .logocontainer.ph {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .testgiga {
    font-size: 64px;
  }
  
  @media screen and (max-width: 991px) {
    .profilediv {
      width: 90%;
      grid-template-columns: 1fr;
    }

    .row.vt {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .column.alignleft.p2xl {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
    .column.aligncenter.p2xl {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
    .card {
      width: 400px;
    }
    .form{
      width: 350px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .row.mtxl.vl {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .row.vl {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .column.alignleft {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
    .maxwlg.mbxl.footerheader {
      margin-top: 32px;
      margin-bottom: 16px;
    }
    .intercom.mllg.mrlg {
      max-height: 23px;
    }
    .buffer.mllg.mrlg {
      max-height: 15px;
    }
    .slack.mllg.mrlg {
      max-height: 15px;
    }
    .producthunt.mllg.mrlg {
      max-height: 19px;
    }
    .airbnb.mllg.mrlg {
      max-height: 21px;
      margin-right: 8px;
      margin-left: 8px;
    }
    .logocontainer {
      width: 33.3336%;
      padding-right: 29px;
      padding-left: 29px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    .card {
      width: 320px;
    }

    .form{
      width: 350px;
    }

    .cardlist {
      grid-template-columns: 1fr;
      margin-bottom: 120px;
      max-width: 320px;
      text-align: center;
    }

  }
  
  @media screen and (max-width: 479px) {
    .container.mt3xl.mb3xl {
      margin-top: 64px;
    }

    .form{
      width: 300px;
    }

    .row.vm {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .column.alignleft.p2xl {
      padding: 0px;
    }
    .button.xl.main.mtlg {
      padding: 16px 32px;
      text-align: center;
    }
    .section.pb2xlm {
      padding-bottom: 64px;
    }
    .maxwlg.textgiga.textcenter {
      font-size: 38px;
    }
    .textlg {
      font-size: 20px;
    }
    .textlg.textcenter.maxwlg {
      font-size: 20px;
    }
    .textlg.textcenter.maxw-md {
      font-size: 20px;
    }
    .product-shot {
      margin-top: -120px;
    }
    .logocontainer {
      padding-right: 13px;
      padding-left: 13px;
    }
    .logocontainer.ph {
      padding-right: 10px;
      padding-left: 10px;
    }
    .testgiga.textcenter {
      font-size: 38px;
    }
    .card {
      width: 250px;
    }
  }
  